{# templates/onboarding/payment.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Payment Information</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Next</button>
    {{ form_end(form) }}
{% endblock %}
